<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TMO Bootcamp Prereq App</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">

    <style>
        body {
            margin-top: 100px;
        }
    </style>
</head>

<body ng-app="CurrencyConverterApp" ng-controller="CurrencyConverterCtrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{AppName}}</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-home "></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bitcoin fa-fw"></i> Convert Cryptos (API Usage:
                                coinapi.io)</h3>
                        </div>
                        <div class="panel-body">
                            1 <select ng-model="selectedCrypto" ng-options="x for x in Cryptos">
                            </select> to USD
                            <button ng-click="convertCrypto()">Convert</button>
                            = {{CryptoValueInUSD}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Convert Currency (API Usage:
                                currconv.com)</h3>
                        </div>
                        <div class="panel-body">
                            1 USD to: <select ng-model="selectedCountry" ng-options="x for x in Countries">
                            </select>
                            <button ng-click="convertCurrency()">Convert</button>
                            = {{ConvertedValue}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-calculator fa-fw"></i> Basic Calculator Example
                            </h3>
                        </div>
                        <div class="panel-body">
                            <input type="number" ng-model="ValueA">
                            <select ng-model="selectedCalcFunctions" ng-options="x for x in calcFunctions">
                            </select>
                            <input type="number" ng-model="ValueB">
                            <button ng-click="Calculate()">Submit</button>
                            = {{CalcResult}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /#wrapper -->



    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Angular 1.6 -->
    <script src="js/angular.js"></script>
    <script src="js/controller/ngController.js"></script>





</body>

</html>
